#viewColor {
  float: left;
  border: 1px solid black;
  width: 250px;
  height: 270px;
}

#editColor {
  float: left;
}

.margin-bottom {
  margin-bottom: 12px;
}

.margin-right {
  margin-right: 12px;
}

.clickedPoint {
  position: absolute;
  display: none;
  border: 2px solid;
  border-radius: 50%;
}

#circleBlack {
  height: 20px;
  width: 20px;
  border-color: black;
}

#circleWhite {
  height: 24px;
  width: 24px;
  border-color: white;
}
