@charset "utf-8";

body {
  color: #54636E;
}

h1 {
  text-align: center;
}

.margin-bottom {
  margin-bottom: 12px;
}

.margin-right {
  margin-right: 12px;
}

.clear {
  clear: both;
}

.clearfixContainer:after {
  content: "";
  display: block;
  clear: both;
}

.shadow {
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}

#explanations {
  margin-bottom: 48px;
}

#viewColorWrapper {
  float: left;
  padding: 6px;
  margin: 0 24px 0 12px;
}

#viewColor {
  border: 1px solid #333334;
  border-radius: 6px;
  width: 120px;
  height: 120px;
  transition: background-color 0.3s ease-in-out;
}

#editColor {
  float: left;
}

#rgbaSliderArea {
  margin-right: 24px;
  float: left;
}

#hsvSliderArea {
  float: left;
}

.silderTitle {
  display: inline-block;
  width: 12px;
}

.historyUpdates {
  float: right;
}

#imageFileArea {
  border-radius: 6px;
}

#imageData {
  border: 1px solid #333334;
}

.clickedPoint {
  position: absolute;
  display: none;
  border: 2px solid;
  border-radius: 50%;
}

#circleBlack {
  width: 20px;
  height: 20px;
  border-color: black;
}

#circleWhite {
  width: 24px;
  height: 24px;
  border-color: white;
}

#colorCodeHistoryArea {
  border-radius: 6px;
}

#historyControllers {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  list-style: none;
}

.historyColorBar {
  float: left;
  cursor: pointer;
  border: 1px solid #333334;
  border-radius: 3px;
  width: 100px;
  margin-right: 6px;
  margin-bottom: 24px;
  animation: expand 0.8s;
  overflow: hidden;
}

@keyframes expand {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

.historyColorBar > div {
  float: left;
  font-size: 12px;
  line-height: 1.5;
}

.historyColorView {
  width: 20px;
  height: 18px;
  border-right: 1px solid #333334;
}

.historyColorCode {
  width: 79px;
  text-align: center;
}
