@charset "utf-8";


.margin-bottom {
  margin-bottom: 12px;
}

.margin-right {
  margin-right: 12px;
}

.clear {
  clear: both;
}

.clearfixContainer:after {
  content: "";
  display: block;
  clear: both;
}

.shadow {
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}

body {
  font-size: 16px;
  font-family: 'Meiryo', 'Meiryo UI', 'Yu Gothic', 'YuGothic', sans-serif;
  color: #54636E;
}

header {
  height: 64px;
}

h1 {
  float: left;
  font-size: 32px;
  line-height: 2;
  text-align: center;
  height: 64px;
  width: 90%;
}

#showExplanationsWrapper {
  float: left;
  width: 10%;
  position: relative;
}

#showExplanations {
  background-color: #54636E;
  color: #FFFFFF;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  line-height: 1.5;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 20px;
}

#explanations {
  position: absolute;
  top: 64px;
  width: 80%;
  left: 10%;
  background-color: #FFFFFF;
  list-style:initial;
  padding: 24px 24px 24px 36px;
  border-radius: 4px;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.2);
}

#explanations li {
  line-height: 1.5;
}

#viewColorWrapper {
  float: left;
  padding: 6px;
  margin: 0 24px 0 12px;
}

#viewColor {
  border: 1px solid #333334;
  border-radius: 6px;
  width: 120px;
  height: 120px;
  transition: background-color 0.3s ease-in-out;
}

#editColor {
  float: left;
}

#rgbaSliderArea {
  margin-right: 24px;
}

#hsvSliderArea {

}

.silderTitle {
  display: inline-block;
  width: 12px;
}

.historyUpdates {
  float: right;
}





.toolTabItem {
  display: block;
  float: left;
}

input[name="toolTabItem"] {
  display: none;
}

.toolTabContent {
  display: none;
  clear: both;
}

#imageFileAreaTabTitle:checked ~ #imageFileArea,
#colorDesignAreaTabTitle:checked ~ #colorDesignArea {
  display: block;
}

#toolArea input:checked + .toolTabItem {
  background-color: #54636E;
  color: #fff;
}









#imageFileArea {
  border-radius: 6px;
}

#imageData {
  border: 1px solid #333334;
}

.clickedPoint {
  position: absolute;
  display: none;
  border: 2px solid;
  border-radius: 50%;
}

#circleBlack {
  width: 20px;
  height: 20px;
  border-color: black;
}

#circleWhite {
  width: 24px;
  height: 24px;
  border-color: white;
}

#colorCodeHistoryArea {
  border-radius: 6px;
}

#historyControllers {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  list-style: none;
}

.historyColorBar {
  float: left;
  cursor: pointer;
  border: 1px solid #333334;
  border-radius: 3px;
  width: 100px;
  margin-right: 6px;
  margin-bottom: 24px;
  animation: expand 0.8s;
  overflow: hidden;
}

@keyframes expand {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

.historyColorBar > div {
  float: left;
  font-size: 12px;
  line-height: 1.5;
}

.historyColorView {
  width: 20px;
  height: 18px;
  border-right: 1px solid #333334;
}

.historyColorCode {
  width: 79px;
  text-align: center;
}
