@import 'global';

/*
* ヘッダー横の「？」押下で表示される説明文のcss
*/

.explanations {
    @extend %g__shadow;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    left: 10%;
    list-style: disc;
    padding: 24px 24px 24px 36px;
    position: absolute;
    top: 64px;
    width: 80%;
    z-index: 100;

    &__li {
        line-height: 1.5;
    }

    &__inner {
        @extend %g__margin-bottom;
        list-style: circle;
        padding: 0 0 0 24px;
    }
}
