
/*
* アプリケーション全体で使用される汎用的なcss
*/

%g__shadow {
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}

%g__margin-bottom {
    margin-bottom: 12px;
}

%g__margin-right {
    margin-right: 12px;
}

%g__h1 {
    float: left;
    font-size: 32px;
    line-height: 2;
    text-align: center;
    height: 64px;
    width: 100%;
}

%g__border-normal {
    border: 1px solid #333334;
}

%g__group-background {
    padding: 6px;
    background-color: #FAF7F8;
}

%g__clear {
    clear: both;
}

%g__font-small {
    font-size: 12px;
}


%g__tab-area {
  margin-left: 8%;
  margin-right: 8%;
  min-width: 586px;
}

%g__tab-item {
  display: block;
  float: left;

  transition: all 0.2s ease;
  background-color: #E0E0E0;
  padding: 6px 12px 6px 12px;
}

%g__tab-item-hover {
  opacity: 0.8;
}

%g__tab-content {
  display: none;
  clear: both;
}

%g__open-close-triangle {
    display: inline-block;
}

%g__open-close-triangle-close {
    transform: rotate(90deg);
}

%g__open-close-triangle-open {
    transform: rotate(180deg);
}
