@import 'global';

/*
* Drag & Dropに関する汎用的なcss
*/

%g-draggable__droppable-area-bg {
    background-color: #fff;
    background-image: radial-gradient(#000 1%, rgba(0, 0, 0, 0) 10%), radial-gradient(#000 1%, rgba(0, 0, 0, 0) 10%); /* stylelint-disable-line plugin/no-unsupported-browser-features */
    background-position: 0 0, 6px 6px;
    background-size: 12px 12px;

}

%g-draggable__droppable-area-message {
    margin: 8px;
    text-align: center;
}

%g-draggable__picked-color-bar {
    cursor: move;
    height: 32px;
    line-height: 32px;
    position: relative;
    text-align: center;
    width: 200px;
}

%g-draggable__picked-color-bar-over {
    opacity: 0.4;
}

%g-draggable__picked-color-bar-dragging {
    opacity: 0.4;
}

%g-draggable__picked-color-bar-text {
    text-shadow: 1px 1px 0 #fff;
}

%g-draggable__picked-color-bar-del {
    background-color: #e61212;
    border: 1px solid #333334;
    border-radius: 50%;
    color: #333334;
    cursor: pointer;
    height: 16px;
    line-height: 14px;
    position: absolute;
    right: 8px;
    text-align: center;
    top: 8px;
    width: 16px;
}
