@import 'global';

/*
* ヘッダー部分のcss
*/

.header {
    height: 64px;

    &__title {
        float: left;
        font-size: 32px;
        height: 64px;
        line-height: 2;
        text-align: center;
        width: 100%;
    }

    &__btn-show-explanations-wrapper {
        position: absolute;
        right: 0;
        top: 0;
        width: 12%;
    }

    &__btn-show-explanations {
        @extend %g__shadow;
        background-color: #54636e;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        font-weight: bold;
        height: 24px;
        line-height: 1.5;
        position: absolute;
        text-align: center;
        top: 20px;
        width: 24px;
    }

    &__remark-about-browser {
        font-size: 12px;
        margin: auto;
        margin-bottom: 36px;
        width: 564px;
    }
}
