@import 'global';

/*
* 履歴機能のcss
*/

.history-content-area {
    @extend %g__tab-content;
    @extend %g__group-background;

    &__controls {
        @extend %g__margin-bottom;
        list-style: none;
    }

    &__controls-li {
        text-align: right;
    }

    %__history-bar {
        @extend %g__border-normal;
        animation: history-content-area__expand 0.8s;
        background-color: #fff;
        border-radius: 3px;
        cursor: pointer;
        float: left;
        overflow: hidden;
    }

    @keyframes history-content-area__expand {
        0% {
            transform: scale(0);
        }

        100% {
            transform: scale(1);
        }
    }

    &__history-color-bar {
        @extend %g__shadow;
        @extend %__history-bar;
        margin-bottom: 24px;
        margin-right: 6px;
        width: 100px;
    }

    &__history-color-bar-color-mark {
        @extend %g__font-small;
        border-right: 1px solid #333334;
        float: left;
        height: 18px;
        width: 20px;
    }

    &__history-color-bar-color-code {
        @extend %g__font-small;
        float: left;
        line-height: 1.5;
        text-align: center;
        width: 79px;
    }

    &__history-color-design-bar {
        @extend %g__shadow;
        @extend %__history-bar;
        margin-bottom: 12px;
        margin-right: 3px;
        width: 200px;
    }

    &__history-color-design-bar-name {
        font-size: 12px;
        line-height: 1.5;
        text-align: center;
    }

    &__history-color-design-bar-gradient {
        height: 16px;
        width: 200px;
    }
}
