@import 'global';

/*
* 履歴機能を配置する領域のcss
*/

.history-area {
    @extend %g__tab-area;
    margin-bottom: 48px;
    margin-left: 8%;
    margin-right: 8%;

    &__title {
        margin-bottom: 6px;
    }
}
