@import 'global';
@import 'global-draggable';

/*
* コントラスト比機能のcss
*/

.tool-contrast-ratio-area {
    @extend %g__tab-content;
    @extend %g__group-background;

    &__each-function-area {
        margin: auto;
        margin-bottom: 36px;
        max-width: 682px;
        min-width: 588px;
        overflow: hidden;
    }

    %__explanations {
        cursor: pointer;
        display: inline-block;
        font-size: 12px;
        line-height: 18px;
        margin-left: 24px;
        text-decoration: underline;
    }

    &__explanations-to-close {
        @extend %__explanations;
    }

    &__explanations-to-open {
        @extend %__explanations;
    }

    &__function-explanations {
        @extend %g__clear;
        @extend %g__font-small;
        line-height: 1.5;
        list-style: disc;
        margin-bottom: 24px;
        padding-left: 24px;
    }

    &__check-title {
        @extend %g__margin-bottom;
        @extend %g__clear;
    }

    &__picked-col {
        float: left;
    }

    &__picked-color {
        @extend %g__border-normal;
        @extend %g-draggable__droppable-area-bg;
        height: 44px;
        width: 212px;
    }

    &__picked-color-bar {
        @extend %g-draggable__picked-color-bar;
        margin: auto;
        margin-top: 6px;

        &.is-over {
            @extend %g-draggable__picked-color-bar-over;
        }

        &.is-dragging {
            @extend %g-draggable__picked-color-bar-dragging;
        }
    }

    &__picked-color-bar-text {
        @extend %g-draggable__picked-color-bar-text;
    }

    &__pick-color-bar-del {
        @extend %g-draggable__picked-color-bar-del;
    }

    &__picked-color-message {
        @extend %g-draggable__droppable-area-message;
        @extend %g__font-small;
    }

    &__picked-color-contrast-ratio {
        font-size: 24px;
        font-weight: bold;
        height: 60px;
        line-height: 48px;
        padding-top: 16px;
        text-align: center;
        width: 160px;
    }

    &__check-criteria-area {
        @extend %g__clear;
    }

    &__check-criteria-normal {
        @extend %g__margin-bottom;
        width: 840px;
    }

    &__check-criteria-large {
        width: 840px;
    }

    %__check-criteria-title {
        float: left;
        height: 48px;
    }

    &__check-criteria-title {
        @extend %__check-criteria-title;
        line-height: 48px;
        width: 212px;
    }

    &__check-criteria-checked {
        @extend %__check-criteria-title;
        width: 160px;
    }

    &__check-criteria-checked-title {
        display: inline-block;
        line-height: 24px;
        width: 116px;
    }

    &__check-criteria-aa,
    &__check-criteria-aaa {
        font-weight: bold;

        &.is-ok {
            color: #30821b;
        }

        &.is-ng {
            color: #821b1b;
        }
    }

    &__check-criteria-sample {
        @extend %__check-criteria-title;
        padding-left: 12px;
        padding-right: 12px;
    }

    &__check-criteria-sample-text {
        line-height: 48px;

        &.is-normal {
            &.is-not-bold { /* stylelint-disable-line max-nesting-depth */
                font-size: 16pt;
                font-weight: normal;
            }

            &.is-bold { /* stylelint-disable-line max-nesting-depth */
                font-size: 12pt;
                font-weight: bold;
            }
        }

        &.is-large {
            &.is-not-bold { /* stylelint-disable-line max-nesting-depth */
                font-size: 20pt;
                font-weight: normal;
            }

            &.is-bold { /* stylelint-disable-line max-nesting-depth */
                font-size: 16pt;
                font-weight: bold;
            }
        }
    }

    &__auto-extraction-title {
        @extend %g__margin-bottom;
        cursor: pointer;
        width: 270px;
    }

    &__auto-extraction-title-toggle-mark {
        @extend %g__open-close-triangle;

        &.is-closed {
            @extend %g__open-close-triangle-close;
        }

        &.is-opened {
            @extend %g__open-close-triangle-open;
        }
    }

    &__auto-extraction-condition-area {
        @extend %g__margin-bottom;
    }

    &__auto-extraction-condition-title {
        @extend %g__margin-bottom;
        cursor: pointer;
        width: 80px;
    }

    &__auto-extraction-condition {
        padding-left: 16px;
    }

    &__auto-extraction-condition-item-line {
        margin-bottom: 24px;
        min-height: 24px;
    }

    &__auto-extraction-condition-item-title {
        float: left;
        width: 212px;
    }

    &__auto-extraction-condition-item-content {
        float: left;
    }

    &__auto-extraction-condition-slider-title {
        display: inline-block;
        width: 32px;
    }

    &__auto-extraction-condition-range-slider-current {
        @extend %g__font-small;
        display: inline-block;
        padding-left: 6px;
        width: 112px;
    }

    &__auto-extraction-condition-range-slider-wrapper {
        &.has-next-slider {
            @extend %g__margin-bottom;
        }
    }

    &__auto-extraction-condition-range-slider {
        display: inline-block;
        height: 12px;
        width: 180px;
    }

    &__auto-extraction-condition-hue-range-bar {
        margin-left: 27px;
    }

    &__auto-extraction-execution-area {
        @extend %g__margin-bottom;
    }

    &__auto-extraction-execution-col {
        float: left;
    }

    &__auto-extraction-target-color-list {
        @extend %g-draggable__droppable-area-bg;
        @extend %g__border-normal;
        min-height: 240px;
        width: 212px;
    }

    &__auto-extraction-target-color-list-message {
        @extend %g-draggable__droppable-area-message;
        @extend %g__font-small;
    }

    &__auto-extraction-btn-wrapper {
        float: left;
        margin-top: 32px;
        width: 160px;
    }

    &__auto-extraction-btn {
        @extend %g__shadow;
        background-color: #d7dae0;
        border-radius: 6px;
        cursor: pointer;
        height: 64px;
        margin: auto;
        opacity: 0.7;
        padding-left: 32px;
        padding-top: 16px;
        width: 64px;

        &.is-disabled {
            cursor: default;
            opacity: 0.3;
        }

        &.is-disabled:hover {
            opacity: 0.3;
        }
    }

    &__auto-extraction-btn:hover {
        opacity: 1;
    }

    &__auto-extraction-result-color-table-wrapper {
        float: left;
        max-width: 264px;
    }

    &__auto-extraction-result-color-table {
        border-collapse: collapse;
    }

    /* BEMに従うセレクタ配下の tbody, thead th, tdの要素セレクタは許可する */
    &__auto-extraction-result-color-table thead,
    &__auto-extraction-result-color-table tbody {
        display: block;
    }

    &__auto-extraction-result-color-table tbody {
        max-height: 215px;
        overflow-x: hidden;
        overflow-y: scroll;
        width: 212px;
    }

    &__auto-extraction-result-color-table th,
    &__auto-extraction-result-color-table td {
        border: 1px solid #333334;
        height: 24px;
        line-height: 24px;
        text-align: center;
        width: 88px;
    }

    &__auto-extraction-result-color-bar {
        cursor: move;
    }

    &__auto-extraction-result-message {
        margin: 12px;
    }
}
