@import "global";

/*
* 画像から抽出機能のcss
*/

.tool-image-file-area {
    @extend %g__tab-content;
    @extend %g__group-background;
    position: static;

    &__how-to-resize-image {
        @extend %g__margin-bottom;
    }

    &__image-data {
        @extend %g__border-normal;
    }

    &__no-image-data {
        @extend %g__border-normal;
        @extend %g__font-small;
        @extend %g__margin-bottom;
        padding: 6px 6px 6px 24px;
        line-height: 1.5;
        list-style: disc;
        width: 320px;
        height: 180px;
    }
}
