@import 'global';
@import 'global-draggable';
/*
* 配色チェック機能のcss
*/
.tool-color-design-area {
    @extend %g__tab-content;
    @extend %g__group-background;

    &__color-design-container {
        margin: auto;
        width: 586px;
    }

    &__list-of-colors {
        @extend %g__border-normal;
        @extend %g__margin-right;
        @extend %g-draggable__droppable-area-bg;
        float: left;
        min-height: 360px;
        width: 200px;
    }

    &__list-of-colors-text {
        @extend %g__font-small;
        @extend %g-draggable__droppable-area-message;
    }

    &__picked-color-bar {
        @extend %g-draggable__picked-color-bar;

        &.is-over {
            @extend %g-draggable__picked-color-bar-over;
        }

        &.is-dragging {
            @extend %g-draggable__picked-color-bar-dragging;
        }
    }

    &__picked-color-bar-text {
        @extend %g-draggable__picked-color-bar-text;
    }

    &__picked-color-bar-del {
        @extend %g-draggable__picked-color-bar-del;
    }

    &__chart-area {
        @extend %g__margin-bottom;
        background-color: #fff;
        float: left;
        height: 360px;
    }

    &__chart {
        position: relative;
    }

    &__chart-circle {
        animation-duration: 1s;
        animation-name: tool-color-design-area__circle-slideIn;
        opacity: 0.7;
    }
    @keyframes tool-color-design-area__circle-slideIn {
        0% {
            opacity: 0;
            transform: translateX(-100px);
        }

        60% {
            transform: translateX(20px);
        }

        100% {
            opacity: 0.7;
            transform: translateX(0);
        }
    }

    &__chart-tooptip {
        background-color: #fff;
        border: 1px solid #333334;
        border-radius: 2px;
        padding: 6px;
        position: absolute;
    }

    &__chart-tooltip-line-color-mark {
        display: inline-block;
        height: 12px;
        width: 12px;
    }

    &__chart-tooltip-line-color {
        display: inline-block;
        height: 12px;
        width: 12px;
    }

    &__chart-tooltip-line-color-code {
        @extend %g__font-small;
    }

    &__chart-tooltip-line-hsv {
        @extend %g__font-small;
        display: block;
        padding-left: 18px;
    }

    &__history-control-wrapper {
        @extend %g__clear;
        float: right;
        margin-right: 12px;
        text-align: right;
    }

    &__input-pattern-name {
        width: 170px;
    }

    &__input-pattern-name-error {
        color: #a63838;
        float: right;
        text-align: left;
        width: 324px;
    }
}
