@import 'global';

/*
* HSVチャートから抽出 機能のcss
*/

.tool-hsv-circle-area {
    @extend %g__tab-content;
    @extend %g__group-background;
    position: static;

    &__container {
        margin: auto;
        width: 584px;
    }

    &__circle-wrapper {
        float: left;
    }

    &__chart-caption {
        @extend %g__font-small;
        text-align: center;
    }

    &__value-slider-wrapper {
        float: left;
        margin-bottom: 24px;
        margin-left: 32px;
    }

    &__value-slider-positioning {
        position: relative;
        width: 32px;
    }

    &__value-slider {
        @extend %g__border-normal;
        /* https://caniuse.com/css-appearance */
        -webkit-appearance: none; /* stylelint-disable-line property-no-vendor-prefix, plugin/no-unsupported-browser-features */
        appearance: none;  /* stylelint-disable-line plugin/no-unsupported-browser-features */
        background: linear-gradient(to left, #fff, #000); /* stylelint-disable-line plugin/no-unsupported-browser-features */
        height: 32px;
        opacity: 0.8;
        outline: none;
        position: absolute;
        top: 45%;
        transform: rotate(270deg);
    }

    &__value-slider:hover {
        opacity: 1;
    }

    &__value-slider::-webkit-slider-thumb {
        /* https://caniuse.com/css-appearance */
        -webkit-appearance: none; /* stylelint-disable-line property-no-vendor-prefix, plugin/no-unsupported-browser-features */
        appearance: none; /* stylelint-disable-line plugin/no-unsupported-browser-features */
        background-color: #fff;
        border: 1px solid #333334;
        border-radius: 0;
        cursor: pointer;
        height: 32px;
        width: 8px;
    }

    &__value-slider::-moz-range-thumb {
        background-color: #fff;
        border: 1px solid #333334;
        border-radius: 0;
        cursor: pointer;
        height: 32px;
        width: 8px;
    }

    &__control-title {
        display: inline-block;
        float: left;
        line-height: 1;
        width: 64px;
    }

    &__control-line {
        margin: auto;
        margin-bottom: 6px;
        width: 178px;

        &.has-next-line {
            @extend %g__clear;
            @extend %g__margin-bottom;
        }
    }

    &__control-item {
        background-color: #fff;
        display: block;
        float: left;
        padding: 3px;
        text-align: center;
        transition: all 0.2s ease;
        width: 32px;
    }

    &__control-item:hover {
        opacity: 0.8;
    }
}
